In [19]:
a = 4
if a>=5:
    print('Aaa')
else:
     print('bbb')
        
if a==4 and a >=2:
    print('TEST')
else:
    print('TTTT')
    
if not a==10 :
    print('10아니야')

bbb
TEST
10아니야

In [11]:
a = 10
if a%2==0: 
    print("짝수")
else : 
    print("홀수")

짝수

In [15]:
a = 9
if a%4 == 0:
    print('4의 배수')
elif a%3 == 0:
    print('3의 배수')
else:
    print('나머지')

3의 배수

In [21]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

i = 0
while i < len(a):
    print(a[i])
    i += 1

print('end')

1
2
3
4
5
6
7
8
end

In [23]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
i = 0
while True:
    i = i+1
    print(a[i])
    if i ==3: 
        break

2
3
4

In [27]:
sum = 0
i = 1
while True:
    sum+=i
    i+=1
    if i> 100:
        break
        
print(sum)

5050

In [29]:
a = [1, 2, 3, 4, 5]
for i in a :
    print(i, i*2)

1 2
2 4
3 6
4 8
5 10

In [31]:
a = 'Hello World'
for character in a : 
    print(character)

H
e
l
l
o

W
o
r
l
d

In [36]:
a = {'Korea': 'Seoul', 'Japan': 'Tokyo', 'Canada': 'Ottawa'}
for key in a:
    print(key, a[key], a.get(key))

Korea Seoul Seoul
Japan Tokyo Tokyo
Canada Ottawa Ottawa

In [39]:
for value in a.values() : 
    print(value)

Seoul
Tokyo
Ottawa

In [44]:
a = [23, 5, 34, 4,2]
for num in a:
    print(num)

23
5
34
4
2

In [46]:
for index, num in enumerate(a):
    print(index, num)

0 23
1 5
2 34
3 4
4 2

In [58]:
#구구단 출력하기
for j in range(2, 10):
    for i in range(1, 10):
        print(str(j) +' * ' + str(i) + ' = ' +str(i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [60]:
len(a)

5

In [62]:
a = [1, 2, 3, 4, 5]
len(a)

5

In [64]:

range(10)

range(0, 10)

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(2, 20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [71]:
list(range(0, 100, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [73]:
for i in range(1, 101):
    if i%2 == 0:
        print(i, '2의 배수')
    if i%11 == 0:
        print(i, '11의 배수')

2 2의 배수
4 2의 배수
6 2의 배수
8 2의 배수
10 2의 배수
11 11의 배수
12 2의 배수
14 2의 배수
16 2의 배수
18 2의 배수
20 2의 배수
22 2의 배수
22 11의 배수
24 2의 배수
26 2의 배수
28 2의 배수
30 2의 배수
32 2의 배수
33 11의 배수
34 2의 배수
36 2의 배수
38 2의 배수
40 2의 배수
42 2의 배수
44 2의 배수
44 11의 배수
46 2의 배수
48 2의 배수
50 2의 배수
52 2의 배수
54 2의 배수
55 11의 배수
56 2의 배수
58 2의 배수
60 2의 배수
62 2의 배수
64 2의 배수
66 2의 배수
66 11의 배수
68 2의 배수
70 2의 배수
72 2의 배수
74 2의 배수
76 2의 배수
77 11의 배수
78 2의 배수
80 2의 배수
82 2의 배수
84 2의 배수
86 2의 배수
88 2의 배수
88 11의 배수
90 2의 배수
92 2의 배수
94 2의 배수
96 2의 배수
98 2의 배수
99 11의 배수
100 2의 배수

In [76]:
a = [22, 1, 3, 4, 7, 98, 1, 55]
min = 1000000
max = 0
for num in a:
    if min > num :
        min = num
    if max < num : 
        max = num

print(min, max)

1 98

In [81]:
a = [1, 2, 3]

def sum(a,  b):
    return a + b

In [83]:
sum(1, 2)

3

In [87]:
c = sum(1, 2)

In [89]:
c

3

In [90]:
def substract(x, y):
    sub = x-y
    return sub

In [94]:
print(substract(5, 3))

2

In [96]:
def add(a, b, c=3):
    return a+b+c
add(1, 5)

9