In [1]:
a = 10 # int
b = 11.4 # float

In [4]:
# this line is very important
# so don't delete those lines

a = 10
b = 11.4

In [6]:
print(a, b)

10 11.4

In [10]:
print(a, 10, 200, b)

10 10 200 11.4

In [13]:
print(a, 10, sep = '*', end='!')

10*10!

In [16]:
print(a)
print(a, b)
a

10
10 11.4

10

In [17]:
a, b

(10, 11.4)

In [20]:
c = None
print(c)

None

In [21]:
a = 5
b = 4
print(a > b)

True

In [23]:
print(a==b)

False

In [25]:
print(a**b)

625

In [27]:
a+b*4

21

In [33]:
a = 'Hello """world'
b = "Hello ''' world"
## 차이 없음. 

c = '''Hello 
Enter 를 해도 연결이 되는구나.world'''
d = """Hello world"""
e = "Hello world. It's wonderful world"

print(a,b)


print(c)
print(d)

Hello """world Hello ''' world
Hello
Enter 를 해도 연결이 되는구나.world
Hello world

In [41]:
a = 'Hello World'
print(a[10])

print(a[-11])
#음수 인덱스도 사용 가능

d
H

In [45]:
a = 'Hello World'
print(a[1])
print(a[0:4]) # slicing

print(a[:5]) # 생략 가능 생략하면 첨부터
print(a[3:])

e
Hell
Hello
lo World

In [49]:
a = 'hello world'
print(a.upper())

HELLO WORLD

In [51]:
a = 'hello world'
a.replace('hello', 'jello')

'jello world'

In [54]:
a = '오늘 기온{}도 이고 , 비올 확률은 {} %입니다.'
print(a)
temperature = 10
prob = 40
a.format(temperature, prob)

오늘 기온{}도 이고 , 비올 확률은 {} %입니다.

'오늘 기온10도 이고 , 비올 확률은 40 %입니다.'

In [55]:
a = 'hello world what a nice weather'
a.split()

['hello', 'world', 'what', 'a', 'nice', 'weather']

## Collection Type

### List

list는 동적으로 변경할 수 있으나, tuple은 한번 생성이 되면 변경이 불가능.

In [60]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [62]:
a = ['korea', 'canada', 1, 23, [34, 35]]
a

['korea', 'canada', 1, 23, [34, 35]]

In [63]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [64]:
c = (1, 2, 3)
d = list(c)
print(d)

[1, 2, 3]

In [67]:
a = [1, 2, 3, 4, 5, 6]
print(a[3])
a[3] = 7
print(a[3])

## 문자열은 불변 (immutable)

4
7

In [73]:
a = [1, 2, 3, 4, 5, 6, 7,8]
a[:4]
a[6:]

## slicing 
# start:end:increment

a[1:7:2]

[2, 4, 6]

In [80]:
a = [1, 2, 3, 4, 5]
a.append(6)
a.extend([7, 8, 9])
a+= [10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
a = [1, 2, 3, 4, 5]
## insert 는 원하는 위치에 추가 
a.insert(1, 40)
a.remove(2)
print(a.pop())
print(a)

5
[1, 40, 3, 4]

In [87]:
a = [1, 2, 3, 4, 5]
a.index(4)

3

In [90]:
a = [1, 2, 3, 4 ,5, 10]
b = 1
c = b in a 
c

True

In [95]:
a = [1, 35, 2, 86, 34, 6]
a.sort()
print(a) #오름차순
a.sort(reverse=True)
print(a)

b = sorted(a)
print(b)

[1, 2, 6, 34, 35, 86]
[86, 35, 34, 6, 2, 1]
[1, 2, 6, 34, 35, 86]

In [99]:
a = (1, 4, 3, 6, 4)
print(type(a))

<class 'tuple'>

In [104]:
a = (100, 200)
type(a)

a = 100, 200
type(a)

a, b = 100, 200
print(a, b)

a, b, c, d = 1, 2, 3, 4
print(a, b, c, d)

100 200
1 2 3 4

In [110]:
a = 5
b = 4
print(a, b)


b, a = a, b;

print(a,b)

5 4
4 5

In [115]:
a = [0, 1, 2, 3, 4]
a.index(1)
a[a.index(1)]

1

In [119]:
a = {'Korea' : 'Seoul', 'Canada': 'Ottwaa'}
print(a)
b = {}

type(b)

{'Korea': 'Seoul', 'Canada': 'Ottwaa'}

dict

In [121]:
a['Korea']

'Seoul'

In [9]:
a = {'Korea' : 'Seoul', 'Canada': 'Ottawa'}

b= {0:1, 1:6, 7:9, 8:10}
print(b)

a['Japan'] = 'Tokyo'


##동일한 키 중복 X
a['Japan'] = 'Tokkkyo'

{0: 1, 1: 6, 7: 9, 8: 10}

In [19]:
a = {'a':1, 'b': 2}
b = {'b':3,  'd': 5}
a.update(b)

a.pop('b')
a

del a['d']

c = 100

print(c)

del c

100

In [27]:
print(a)

a.clear()
a
a = {'a': 1, 'b': 2, 'c': 3}
print( 'd' in a)

b = [1, 2, 3, 4, 5, 6]

print(6 in b) # 성능 안좋음. 
print('b' in a) # 바로 결과를 가져옴. Key로 검색

{'a': 1, 'b': 2, 'c': 3}
False
True
True